{% extends "admin/change_form.html" %}

{% block after_related_objects %}
<h3>Section Assignments</h3>
<table class="admin-table">
    {% for assignment in original.sectionassignment_set.all %}
        {% if not assignment.end_date %}
        <tr>
            <td>{{ assignment.user.display_name }}</td>
            <td>
                <a class="button" href="#">
                    Remove
                </a>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
</table>

{% if active_assignment_count < section.max_size %}
    <p>
        <a class="button" href="#">
            Add user to section
        </a>
    </p>
{% endif %}

{% endblock %}